.TodoTemplate {
    width: 512px;
    height: 768px;
    margin: 96px auto 32px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    position: relative;
}